<div class="flex justify-center pt-10 max-w-4xl mx-auto p-6 bg-white rounded-t-lg shadow-md dark:bg-gray-800">
  <div class="flex space-x-4">
    <div class="inline-flex h-9 w-full items-baseline justify-start rounded-lg bg-gray-100 p-1 sm:w-auto dark:bg-gray-900">
      <button type="button"
              (click)="setActiveTab('play')"
              [ngClass]="{'bg-white text-slate-950 dark:bg-gray-800 dark:text-white': activeTab === 'play',
                         'bg-transparent text-slate-500 dark:text-gray-400': activeTab !== 'play'}"
              class="group inline-flex items-center justify-center whitespace-nowrap py-2 align-middle font-semibold transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-blue-700 min-w-[32px] gap-1.5 text-xs disabled:stroke-slate-400 disabled:text-slate-400 hover:stroke-blue-950 hover:text-blue-950 h-7 w-full rounded-md px-3 shadow sm:w-auto">
        <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>



        <span>Play</span>
      </button>
      <button type="button"
              (click)="setActiveTab('leaderboard')"
              [ngClass]="{'bg-white text-slate-950 dark:bg-gray-800 dark:text-white': activeTab === 'leaderboard',
                         'bg-transparent text-slate-500 dark:text-gray-400': activeTab !== 'leaderboard'}"
              class="group inline-flex items-center justify-center whitespace-nowrap py-2 align-middle font-semibold transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-blue-700 min-w-[32px] gap-1.5 text-xs disabled:stroke-slate-400 disabled:text-slate-400 hover:stroke-blue-950 hover:text-blue-950 h-7 w-full rounded-md px-3 shadow sm:w-auto">
        <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"/>
        </svg>

        <span>Leaderboard</span>
      </button>
    </div>
  </div>
</div>
<div id="content" class="max-w-4xl mx-auto min-h-[70vh] bg-gray-300 dark:bg-gray-900">
  <div class="mx-auto p-6 text-center">
    <h1 class="text-3xl font-bold mb-6 text-gray-700 dark:text-gray-300">Car Quiz</h1>
    <h1 class="text-2xl font-semibold text-gray-700 dark:text-gray-400">What is something that usually blah blah</h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 answers-mt">
      <!-- Question 1 -->
      <button class="bg-white border border-gray-300 rounded-lg p-4 flex items-center justify-center shadow-md hover:bg-gray-50  focus:outline-none">
        <span class="text-xl font-bold mr-2">A.</span>
        <span>Cow</span>
      </button>
      <!-- Question 2 -->
      <button class="bg-white border border-gray-300 rounded-lg p-4 flex items-center justify-center shadow-md hover:bg-gray-50 focus:outline-none">
        <span class="text-xl font-bold mr-2">B.</span>
        <span>Horse</span>
      </button>
      <!-- Question 3 -->
      <button class="bg-white border border-gray-300 rounded-lg p-4 flex items-center justify-center shadow-md hover:bg-gray-50 focus:outline-none">
        <span class="text-xl font-bold mr-2">C.</span>
        <span>Pig</span>
      </button>
      <!-- Question 4 -->
      <button class="bg-white border border-gray-300 rounded-lg p-4 flex items-center justify-center shadow-md hover:bg-gray-50 focus:outline-none">
        <span class="text-xl font-bold mr-2">D.</span>
        <span>Sheep</span>
      </button>
    </div>
    <div class="mt-4 p-3 max-w-2xl flex flex-col justify-center items-center mx-auto bg-white text-center rounded-2xl dark:bg-gray-800  shadow-md">
      <svg class="w-[48px] h-[48px] text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <h1 class="text-3xl font-bold dark:text-white">Wrong!</h1>
      <p class="tracking-widest text-gray-400 md:text-lg dark:text-gray-400">You can do better</p>
    </div>
    <div class="flex-1">
      <button type="button" class="mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-center w-full dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Next
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </button>
    </div>
  </div>
</div>
