<div class="max-w-3xl mx-auto text-center flex flex-col items-center">
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    Create a quiz
  </h1>
  <p class="mb-6 text-center text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
    Create your quiz now and play it and share it with others
  </p>
</div>

<form #quizForm="ngForm" class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 mb-10">
  <div *ngIf="success" class="flex flex-col items-center">
    <svg class="w-[48px] h-[48px] text-green-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
    <h4 class="text-2xl font-bold dark:text-white">Success!</h4>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Your quiz is ready.</p>
    <button [routerLink]="['/play', quizId]" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none w-1/2 focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Play</button>
  </div>

  <div *ngIf="error" class="flex flex-col items-center">
    <svg class="w-[48px] h-[48px] text-red-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
    <h4 class="text-2xl font-bold dark:text-white">Something went wrong!</h4>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Couldn't generate quiz.</p>
    <button type="button" (click)="onTryAgain()" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none w-1/2 focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Try Again</button>
  </div>

  <div *ngIf="!success && !error">
  <div class="mb-4">
    <label for="topic" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Topic</label>
    <input type="text"
           placeholder="Cars"
           id="topic"
           required
           [(ngModel)]="quiz.topic"
           name="topic"
           #topic="ngModel"
           class="w-full p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
    <div *ngIf="topic.invalid" class="text-red-500 text-sm mt-2">
      <div>Topic is required.</div>
    </div>
  </div>
  <div class="mb-4">
    <label for="questions" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Questions</label>
    <select id="questions"  name="questions" [(ngModel)]="quiz.numberOfQuestions" class="w-full p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
      <option *ngFor="let n of nquestions" [value]="n">{{ n }}</option>
    </select>
  </div>
  <div class="mb-4">
    <label for="difficulty" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Difficulty</label>
    <select id="difficulty" name="difficulty" [(ngModel)]="quiz.difficulty" class="w-full p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
      <option *ngFor="let d of difficulties" [value]="d">{{ d }}</option>
    </select>
  </div>
  <div class="mb-4">
    <label for="category" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Category</label>
    <select id="category" [(ngModel)]="quiz.categoryId" class="w-full p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  <button [disabled]="quizForm.invalid || creating" type="submit" (click)="onCreate()" class="w-full py-2.5 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-400">
    {{  creating ? 'Creating...' : 'Create'}}
    <svg *ngIf="creating" aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
    </svg>
  </button>
 </div>
</form>
